* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.Toastify__toast {
  background: #ffffff !important;
  color: #0b1a3c !important;
  border: 1px solid #0b1a3c !important;
  font-weight: bold !important;
  font-size: 15px !important;
  border-radius: 8px !important;
}
