.contact-wrapper {
  width: 100%;
  padding: 60px 20px;
  background: #f6f7fb; 
  color: #0a1334;
}

.contact-main-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-subtext {
  text-align: center;
  max-width: 650px;
  margin: auto;
  font-size: 15px;
  color: #555;
  margin-bottom: 40px;
}

/* FLEX MAIN CONTAINER */
.contact-box {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

/* LEFT SIDE ==================== */
.contact-left {
  width: 40%;
  padding: 20px;
}

.contact-left h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.left-text {
  color: #444;
  line-height: 1.6;
  margin-bottom: 25px;
}

.left-info p {
  margin: 15px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.left-info i {
  font-size: 20px;
  background: #0a1334;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.contact-socials {
  margin-top: 20px;
}

.contact-socials i {
  font-size: 20px;
  margin-right: 14px;
  cursor: pointer;
  transition: 0.3s;
  color: #0a1334;
}

.contact-socials i:hover {
  transform: scale(1.2);
  color: #1a73e8;
}

.contact-form {
  width: 50%;
  background: #0a1334;   
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.contact-form label {
  font-size: 14px;
  font-weight: 600;
  color: #e6e6e6;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 22px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #bbbbbb;
  color: #ffffff;
  font-size: 15px;
  outline: none;
  transition: 0.3s ease;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #c8c8c8;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-bottom: 2px solid #1a73e8;
}

.send-btn {
  width: 100%;
  padding: 12px;
  background: #fff;
  color: #0a1334;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  margin-top: 5px;
}

.send-btn:hover {
  background: #ffd700;
}

@media (max-width: 900px) {
  .contact-box {
    flex-direction: column;
  }

  .contact-left,
  .contact-form {
    width: 100%;
  }
}
